#panelsContainer {
	margin: 0 auto 0 auto;
	position: relative;
	height: 480px;
	width: 480px;
}

.largecontainer {
	background-color: #fff;
	float: left;
	position: relative;
}

#panelsTitle {
	position: absolute;
	background-color: #333;
	color: #fff;
	bottom: 5px;
	right:5px;
	text-align: right;
	line-height: 150px;
}

#panelsTitle h1 {
	position: absolute;
	bottom: 5px;
	right: 15px;
}

.tiles {
	position: absolute;
	background-color: blue;
	float: left;
	z-index: 1;
	overflow: hidden;
}

.tiles .vignette_unactive {
	position: absolute;
	z-index:3;
}

.tiles .thumb {
	position: absolute;
	z-index: 2;
}

.thumb {
	height: inherit;
	overflow-x: hidden;
}

.tiles h3 {
	display: none;
	position: absolute;
	z-index:4;
	bottom: 0;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	width: inherit;
	text-align: center;
}

.tiles .vignette {
	display: none;
	position: absolute;
	width: inherit;
	z-index: 3;
}

.tiles:hover h3, .tiles:hover .vignette {
	display: block;
}

.tiles:hover .vignette_unactive {
	display: none;
}

.cleartile{
	clear: both;
}


.floatright {
	float:right;
}

